.container{
    display: flex;
    flex-direction: row;
}

.tablestyle {
margin-top: 5px;
margin-left: 3px;
}

body {
    background-color: rgba(218, 97, 16, 0.342);
  }
  
  h1 {
    color: rgb(81, 23, 175);
    margin-left: 20px;
  }

  td {
    color: rgb(81, 23, 175);
    margin-left: 20px;
  }

  p {
    color: rgb(81, 23, 175);
    margin-left: 20px;
  }

  pre {
    color: rgb(81, 23, 175);
    margin-left: 20px;
  }

